.body{
    background-color: #191919;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    overflow-x: hidden;
    color: white;
}


#name{
    margin-top: 100px;
    color: #a9a9a9;
    text-align: center;
    font-size: 50px;
    font-weight: lighter;
}
#pfimage{
    left: 0;
    top: 50%;
    transition: transform 0.5s ease-out;
    max-width: 40%!important; 
    height: auto; 
    overflow: hidden!important;
  }
  #pfimage img{
    height: 100%;
    width: 100%;
  }
#main{
    color: white;
}
.imageframe{
    display: inline-block;
    margin: auto;
    height: 15vh;
    width: 15vh;
    background-color: #262626;
    border-radius: 25px;
    margin: 5px;
    margin-bottom: 50px;
    transition:0.5s;
    text-align: center;
}
.imageframe img{
    height: 100%;
    width: 100%;
}
.imageframe:hover{
    background-color: black;
}

#projects{
    margin:auto;
    max-width: 95%;
    width:fit-content;
    color: white;
    overflow: hidden;
    border: 5px solid Grey;
    border-radius: 25px;
    margin-bottom: 50px;
}

#socials{
    margin:auto;
    max-width: 95%;
    width: fit-content;
    color: white;
    overflow: hidden;
    border: 5px solid Grey;
    border-radius: 25px;
    margin-bottom: 50px;
}

#photos{
    margin:auto;
    max-width: 95%;
    width: fit-content;
    color: white;
    overflow: hidden;
    border-radius: 25px;
    margin-bottom: 50px;
    animation: auto linear reveal both;
    animation-timeline: view();
    animation-range: cover 10%;

}


.subHeadingTitle{
    margin:auto;
    margin-left: 15px;
    font-size:xx-large
}

.projectTitle{
    margin: auto;
    font-size: medium;
    font-size: 2vh;

}

@keyframes reveal {
    from { opacity: 0;}
    to { opacity: 1;}
  }
  
  .revealing-image {
    display: inline-block;
    margin: auto;
    height: 15vh;
    width: fit-content;
    border-radius: 25px;
    margin: 5px;
    margin-bottom: 50px;
  }