.body{
    background-color: #191919;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    overflow-x: hidden!important;
    color: white;
    max-width: 100%;
}


#name{
    position: relative;
    z-index: 1;
    margin-top: 100px;
    color: #a9a9a9;
    text-align: center;
    font-size: 50px;
    font-weight: lighter;
    max-width: 90%;
}
#pfimageContainer{
    z-index: 2;
    position: relative;
    width: 100%;
    max-height: fit-content;
    display: flex;
    align-items: center;
  }

#pfimage{
  width: 400px;
  max-width: 40%;
  max-height: fit-content;
  position: relative;
  left:0;
  transition:left 0.5s ease-out;
}
#main{
    color: white;
}
.imageframe{
    display: inline-block;
    margin: auto;
    height: 150px;
    width: 150px;
    background-color: #262626;
    border-radius: 25px;
    margin: 5px;
    margin-bottom: 50px;
    transition:0.5s;
    text-align: center;
}
.imageframe img{
      height: 100%;
      width: 100%;
      
}
.imageframe:hover{
    background-color: black;
}
#aboutMe{

}

#information{
  position: relative;
  z-index: 2;
  background-color: #191919;
    margin:auto;
    max-width: 800px;
    width: 95%;
    color: white;
    font-size: larger;
    overflow: hidden;
    border: 5px solid Grey;
    border-radius: 25px;
    margin-bottom: 50px;
    padding: 10px;
}
@media  screen and (max-width: 385px) {
  #information{
    font-size: small;
  }
}

#projects{
    position: relative;
    z-index: 2;
    margin:auto;
    max-width: 800px ;
    width: 95%;
    color: white;
    overflow: hidden;
    border: 5px solid Grey;
    border-radius: 25px;
    margin-bottom: 50px;
    padding: 10px; /* Add padding around the text */
}

#socials{
    position: relative;
    margin:auto;
    max-width: 800px;
    width: 95%;
    color: white;
    overflow: hidden;
    border: 5px solid Grey;
    border-radius: 25px;
    margin-bottom: 50px;
    padding: 10px; /* Add padding around the text */
}

#resume{
  position: relative;
  margin:auto;
  max-width: 800px;
  width: 95%;
  color: white;
  overflow: hidden;
  border: 5px solid Grey;
  border-radius: 25px;
  margin-bottom: 50px;
  padding: 10px; /* Add padding around the text */
}

#photos{
    margin:auto;
    max-width: 800px;
    width: 95%;
    color: white;
    overflow: hidden;
    padding: 10px; /* Add padding around the text */
    padding-bottom: 200px;
    border-radius: 25px;
    margin-bottom: 50px;
    animation: auto linear reveal both;
    animation-timeline: view();
    animation-range: cover 5%;

}


.subHeadingTitle{
    width: fit-content;
    margin:auto;
    margin-left: 15px;
    font-size:xx-large;
    text-decoration:dashed underline;
    text-underline-offset: 8px;
    padding-bottom: 20px;
}

.projectTitle{
    margin: auto;
    font-size: medium;
    font-size: 20px;

}

#education{
    margin: 20px;
    font-size: medium;
    font-size: 20px;

}
#resumeHeading{
  text-decoration: underline;
  text-underline-offset: 8px;
}

.education{
    margin: 10px;
    font-size: medium;
    font-size: 20px;
    margin-top: 20px;

}

#skills{
  margin: 20px;
  font-size: medium;
  font-size: 20px;
}
.skill{
  margin: 10px;
  font-size: medium;
  font-size: 20px;
  margin-top: 20px;

}

@keyframes reveal {
    from { opacity: 0;}
    to { opacity: 1;}
  }
  
  .revealing-image {
    display: inline-block;
    margin: auto;
    width: 45%;
    height: 45%;
    max-height: 250px;
    max-width: 250px;
    border-radius: 25px;
    margin: 5px;
    margin-bottom: 50px;
    transition:0.5s;
    text-align: center;
  }
  .revealing-image img{
    width: 100%;
    height: 100%;
  }

  #name-typewriter{
    width: max-content;
    position:relative;
    padding-left:10px;
  }
  #name-typewriter::before,
  #name-typewriter::after{
    content:"";
    position:absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
  }
  #name-typewriter::before{
    background: #191919;
    animation:typewriter 2s steps(31) 0.5s forwards;
  }


 #age-typewriter{
    width: max-content;
    position:relative;
    padding-top: 5px;
    padding-left:10px;
  }
  #age-typewriter::before,
  #age-typewriter::after{
    content:"";
    position:absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
  }
  #age-typewriter::before{
    background: #191919;
    animation:typewriter 1s steps(14) 0.5s forwards;
    animation-delay: 3s;
  }


 #education-typewriter{
    width: max-content;
    position:relative;
    padding-top: 5px;
    padding-left:10px;

  }
  #education-typewriter::before,
  #education-typewriter::after{
    content:"";
    position:absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;

  }
  #education-typewriter::before{
    background: #191919;
    animation:typewriter 2s steps(30) 0.5s forwards;
    animation-delay: 4.5s;
  }

  #location-typewriter{
    width: max-content;
    position:relative;
    padding-top: 5px;
    padding-left:10px;
  }
  #location-typewriter::before,
  #location-typewriter::after{
    content:"";
    position:absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
  }
  #location-typewriter::before{
    background: #191919;
    animation:typewriter 2s steps(32) 0.5s forwards;
    animation-delay: 7s;
  }



  @keyframes typewriter{
    to{
        left: 100%;
    }
  }
  @keyframes blink{
        0%, 50% { opacity: 1; } /* Add this line */
        100% { opacity: 0; }
  }
  @keyframes hideCursor{
    0%, 99% {opacity:1;}
    100% {opacity:0;}
  }

